html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.ubuntu {
  font-family: Ubuntu
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.section {
  padding-top: 100px;
  padding-bottom: 100px;
  position: relative;
}

html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: "Obrazec";   /*Can be any text*/
  src: local("Obrazec"),
    url("../public/fonts/Obrazec.woff") format("woff");
  font-display: swap;
}

.logo-text{
  font-family: "Obrazec";
  font-size: 2.0em;
  color: #5EA037 !important;
}

.text-warning{
  color: #5f964c !important;
}